

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-radio-group (change)="onSelectedMeanChange($event)">
    <mat-radio-button value="beef" name="food">Beef</mat-radio-button>
    <mat-radio-button value="lamb" name="food">Lamb</mat-radio-button>
  </mat-radio-group>
<br>
    <ng-container *ngIf="selectedMean === 'beef'">
      <input type="text" [requiredIf]="selectedMean === 'beef'" placeholder="beef" formControlName="food">
    </ng-container>
    <ng-container *ngIf="selectedMean === 'lamb'">
      <app-gps [requiredIf]="selectedMean === 'lamb'" [gps]="form.get('gps')"></app-gps>
    </ng-container>

    <!--<app-media formGroupName="media"></app-media>-->

    <button type="submit" [disabled]="!form.valid">Submit</button>
  </form>

  <p>Form value: {{ form.value | json }}</p>
